<!DOCTYPE html>

<html>
    <head>
        <title>GPS Tracking</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    </head>

    <body>
        <header>
            <h1> GPS Tracking</h1>
        </header>

        <div id="wrapper">
            <section id="upper">
                <form action="/eingabe" method="POST">
                    <div id="leftblock">
                        <label class="left" for="name">Initalien:</label>
                        <input class="left" type="text" name="nick" placeholder="Name" required>

                        <label class="left" for="kfz">KFZ-Kennzeichen:</label>
                        <input class="left" type="text" name="kfz" placeholder="KFZ-Kennzeichen" required>
                    </div>

                    <div id="rightblock">
                        <label class="right" for="datefrom">Datum 'von':</label>
                        <input class="right" type="date" name="datefrom" placeholder="Datum von"/>

                        <label class="right" for="dateto">Datum 'bis':</label>
                        <input class="right" type="date" name="dateto" placeholder="Datum bis"/>
                    </div>
                    <div id="buttons">
                        <button type="submit">Suchen</button>
                        <button type="reset">Eingabe Löschen</button>
                        <button type="button" id="list-view-button">Listenansicht</button>
                    </div>
                    
                </form>
            </section>
            <section id="lower">
                <div id="map"></div>
            </section>
        </div>
        <script>
            var map;
        
            function initializeMap() {
                // Initialisiere die Karte in das "map"-Element
                map = L.map('map').setView([51.505, -0.09], 13);
        
                // Füge eine Kartenquelle hinzu (z. B. OpenStreetMap)
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
        
                // prüfen, ob Koordinaten vorhanden sind
                {% if coordinates %}
                    var coordinates = {{ coordinates | tojson | safe }};
                    // Erstelle eine Polyline, um die Trackpunkte zu verbinden
                    var polyline = L.polyline(coordinates, {color: 'blue'}).addTo(map);
                    // Setze den sichtbaren Bereich der Karte auf den Bereich des Tracks
                    map.fitBounds(polyline.getBounds());
                {% else %}
                    // aktuelle Position des Benutzers (Geolokalisierung)
                    if ("geolocation" in navigator) {
                        navigator.geolocation.getCurrentPosition(function(position) {
                            var lat = position.coords.latitude;
                            var lon = position.coords.longitude;
        
                            // Marker für die aktuelle Position hinzu
                            L.marker([lat, lon]).addTo(map)
                                .bindPopup('Ihre aktuelle Position')
                                .openPopup();
        
                            // sichtbaren Bereich der Karte auf die aktuelle Position des Benutzers
                            map.setView([lat, lon], 13);
                        });
                    }
                {% endif %}
            }
        
            // Initialisierung der Karte auf, wenn das Dokument geladen ist
            window.addEventListener('load', initializeMap);
        </script>
    
    </body>

</html>